* {
  font-family: 'FiraGO', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.info {
  height: fit-content;
  padding: 30px 120px;
  background-color: #053354;
  display: flex;
  gap: 150px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.hospital {
  display: flex;
  align-items: center;
  margin-top: 20px;
  align-self: flex-start;
}

.hospital img {
  width: 90px;
  height: 66px;
  object-fit: cover;
}

.hospital h2 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin-left: -25px;
}


.headers {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ecf2f84d;
  padding-bottom: 20px;
}

.headers h2 {
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 160px;
}


.informations {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.informations div h3 {
  line-height: 1.2;
  width: 160px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 5px 0;
  cursor: pointer;
}


.copyright {
  padding: 15px 120px;
  color: #053354;
}


@media (max-width: 1200px) {
  .info {
    padding: 30px 60px;
    gap: 50px;
  }
}

@media (max-width: 920px) {
  .info {
    padding: 30px 20px;
    flex-direction: column;
    gap: 30px;
  }

  .hospital {
    align-self: center;
  }

  .headers, .informations {
    flex-direction: column;
    gap: 20px;
  }

  .headers h2, .informations div h3 {
    width: 100%;
    text-align: center;
  }

  .copyright {
    padding: 15px 20px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hospital img {
    width: 70px;
    height: 52px;
  }

  .hospital h2 {
    font-size: 18px;
  }
}