<div class="admin-container">
<div class="buttons-container">
    <div class="action-buttons-container">
        <button class="action-button" routerLink="/doc-reg">რეგისტრაცია</button>
        <button class="action-button" routerLink="/admin-cat">კატეგორია</button>
        <button class="action-button">ექიმები</button>
    </div>
    <div class="user-buttons">
        <button class="user-button">ექიმი</button>
        <button class="user-button">მომხმარებელი</button>
        <button class="user-button">ადმინისტრატორი</button>
    </div>
</div>

    
  </div>
  