.cont-app {
  padding: 40px 5%;
  justify-content: center;
  display: flex;
  gap: 5%;
  max-width: 100%;
  overflow-x: hidden;
}

.calendar-section {
  width: 100%;
  max-width: 1111px;
  margin-top: 70px;
}

@media (max-width: 1200px) {
  .cont-app {
    flex-direction: column;
    align-items: center;
  }

  .left-column, .right-column {
    width: 100%;
  }

  .calendar-section {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .cont-app {
    padding: 20px 3%;
  }

  .calendar-section {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .cont-app {
    padding: 10px 2%;
  }

  .calendar-section {
    margin-top: 20px;
  }
}