.cont-app {
  padding: 40px 5%;
  justify-content: center;
  display: flex;
  gap: 5%;
  max-width: 100%;
  overflow-x: hidden;
}

.calendar-section {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 66px;
}

.edit-btn, .dlt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0 25px;
}

.edit-btn {
  width: 230px;
  background-color: #ECF2F8;
  color: #18A4E1;
}

.dlt-btn {
  width: 170px;
  background-color: #FF93A6;
  color: white;
}

.edit-btn img, .dlt-btn img {
  width: 26px;
  height: 26px;
}

.auth-error {
  position: absolute;
  top: 120%;
  left: 41%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 320px;
  height: 78px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  z-index: 1000;
}

.auth-error>p {
  color: #FF2C52;
}


@media (max-width: 1200px) {
  .cont-app {
    flex-direction: column;
    align-items: center;
  }

  .action-buttons {
    flex-direction: row;
    padding-top: 0;
    justify-content: flex-end;
  }

  .left-column, .right-column {
    width: 100%;
  }

  .calendar-section {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .cont-app {
    padding: 20px 3%;
  }

  .calendar-section {
    margin-top: 30px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .cont-app {
    padding: 10px 2%;
  }

  .calendar-section {
    margin-top: 20px;
  }
}