<div class="cont-app">
    <div class="left-column">
        <app-categories></app-categories>
    </div>
    <div class="right-column">
        <div class="doctor-card">
            <app-doctor-profile-card></app-doctor-profile-card>
        </div>
        <div class="calendar-container">
            <h3>Select Appointment Date</h3>
            <p-calendar [(ngModel)]="selectedDate" 
                        [inline]="true" 
                        [showWeek]="true"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        [showOtherMonths]="false"
                        [firstDayOfWeek]="1"
                        styleClass="custom-calendar">
            </p-calendar>
        </div>
</div>