<div class="user-prof">
   
    <div class="user-profile">
        <img src="assets\png-clipart-anonymous-person-login-google-account-computer-icons-user-activity-miscellaneous-computer.png" alt="anon" class="user-image">
        <p class="user-specialty">მომხმარებელი</p>
        <div class="contact-info">
          <div *ngIf="currentUser$|async as user">
          <p class="phone">პირადი ნომერი : </p>
          <h5>{{user.personalNumber}}</h5>
          <p class="email">Email : </p>
          <h5>{{user.email}}</h5>
        </div>
        <p class="experience" (click)="toggleChangePasswordModal()">პაროლის შეცვლა</p>
        <p class="appointments">ჯავშანი: <span>(20)</span></p>
      </div>
    </div>
      
      <div class="calendar-section">
        <app-calendar [isDoctorView]="false" [userId]="2" [doctorId]="1"></app-calendar>      </div>
</div>

<app-change-password-modal 
  *ngIf="showChangePasswordModal"
  (close)="toggleChangePasswordModal()">
</app-change-password-modal>