<div class="doc-prof">
 
    <div class="doctor-profile"> 
      <div *ngIf="currentUser$|async as user">
        <img [src]="user.photourl" alt="გიორგი ხიზაძე" class="doctor-image">
        <h2 class="doctor-name">{{user.firstName}} {{user.lastName}}</h2>
        <p class="doctor-specialty">ექიმი</p>
       
        <p class="doctor-specialty">{{user.specialty}}</p>
        <div class="rating">
          <span class="star" *ngFor="let star of [1,2,3,4,5]">&#9733;</span>
        </div>
        <div class="contact-info">
          <p class="phone">პირადი ნომერი : </p>
          <h5>{{user.personalNumber}}</h5>
          <p class="email">Email :</p>
          <h5>{{user.email}}</h5>
        </div>
        </div>
        <p class="password-change">პაროლის შეცვლა</p>
        <p class="appointments">დაჯავშნილია : <span>(20)</span></p>
      </div>
    
      
      <div class="calendar-section">
        <app-calendar [isDoctorView]="true" [doctorId]="1"></app-calendar>
      </div>
</div>